<div class="container-fluid view-area pe-page">

  <block-ui>

    <div class="pe-header">
      <div class="pe-header-left">
        <h4 class="pe-title">{{projectData.title || 'New Project'}}</h4>
        <div class="pe-subtitle">Data Entry &mdash; {{currentTabLabel}}</div>
      </div>
      <div class="pe-header-right" *ngIf="activeProjectId != 0">
        <div class="pe-project-badge">Project #{{activeProjectId}}</div>
      </div>
    </div>

    <div class="pe-tabs">
      <a [class.active]="currentTab == 'basic'" href="#" class="pe-tab"
        (click)="showBasicInfo(); $event.preventDefault()" data-toggle="tab">
        <i class="fa fa-file-text"></i> Basic Information
      </a>
      <a *ngIf="activeProjectId != 0" [class.active]="currentTab == 'funding'" href="#" class="pe-tab"
        (click)="showFunding(); $event.preventDefault()" data-toggle="tab">
        <i class="fa fa-money-bill-wave"></i> Funding
      </a>
      <a *ngIf="activeProjectId != 0" [class.active]="currentTab == 'financials'" href="#" class="pe-tab"
        (click)="showFinancials(); $event.preventDefault()" data-toggle="tab">
        <i class="fa fa-coins"></i> Financials
      </a>
      <a *ngIf="activeProjectId != 0" [class.active]="currentTab == 'sectors'" href="#" class="pe-tab"
        (click)="showSectors(); $event.preventDefault()" data-toggle="tab">
        <i class="fa fa-layer-group"></i> Sectors & Locations
      </a>
      <a *ngIf="activeProjectId != 0" [class.active]="currentTab == 'markers'" href="#" class="pe-tab"
        (click)="showMarkers(); $event.preventDefault()" data-toggle="tab">
        <i class="fa fa-tags"></i> Markers
      </a>
      <a *ngIf="activeProjectId != 0" [class.active]="currentTab == 'finish'" href="#" class="pe-tab"
        (click)="showFinish(); $event.preventDefault()" data-toggle="tab">
        <i class="fa fa-check-circle"></i> Finish
      </a>
    </div>


    <div *ngIf="!isProjectLoading && currentTab == tabConstants.BASIC" class="col-lg-12 col-md-12">
      <basic-data [(projectData)]="projectData" [(projectDocuments)]="currentProjectDocuments"
        [(projectFunders)]="currentProjectFunders" [(projectImplementers)]="currentProjectImplementers"
        [financialYears]="financialYears" [exchangeRates]="exchangeRates" [organizationsList]="organizationsList"
        [fundingTypesList]="fundingTypesList" [currenciesList]="currenciesList" [(projectId)]="activeProjectId"
        [aimsProjects]="aimsProjects" [iatiProjects]="iatiProjects"
        [projectDisbursements]="currentProjectDisbursements"
        (projectFundersChanged)="updateProjectFunders($event)"
        (selectedFundersChanged)="updateSelectedFunders($event)"
        (projectImplementersChanged)="updateProjectImplementers($event)"
        (projectCreated)="updateProjectId($event)"
        (proceedToFunding)="showFunding()"
        (projectDocumentsChanged)="updateProjectDocuments($event)"
        (disbursementsChanged)="updateProjectDisbursements($event)">
      </basic-data>
    </div>

    <div *ngIf="!isProjectLoading && currentTab == tabConstants.FUNDING" class="col-lg-12 col-md-12">
      <app-funding [projectData]="projectData" [projectFunders]="currentProjectFunders" 
        [selectedFunders]="currentSelectedFunders"
        [organizationsList]="organizationsList" [fundingTypesList]="fundingTypesList"
        [currenciesList]="currenciesList" [projectId]="activeProjectId"
        (fundingRowsChanged)="updateFundingRows($event)"
        (proceedToFinancials)="showFinancials()">
      </app-funding>
    </div>

    <div *ngIf="!isProjectLoading && currentTab == tabConstants.FINANCIALS" class="col-lg-12 col-md-12">
      <financials [projectCurrency]="projectData.projectCurrency" [projectValue]="projectData.projectValue"
        [exchangeRate]="projectData.exchangeRate" [exchangeRates]="exchangeRates" [currenciesList]="currenciesList"
        [projectDisbursements]="currentProjectDisbursements" [startingYear]="projectData.startingFinancialYear"
        [endingYear]="projectData.endingFinancialYear" [projectId]="activeProjectId"
        [aimsProjects]="aimsProjects" [iatiProjects]="iatiProjects"
        [fundingRecords]="currentFundingRows"
        (proceedToSectors)="showSectors()"
        (disbursementsChanged)="updateProjectDisbursements($event)">
      </financials>
    </div>

    <div *ngIf="!isProjectLoading && currentTab == tabConstants.SECTORS" class="col-lg-12 col-md-12">
      <project-sectors [sectorTypesList]="sectorTypesList" [sectorsList]="sectorsList"
        [defaultSectorsList]="defaultSectorsList" [defaultSectorTypeId]="defaultSectorTypeId"
        [projectId]="activeProjectId" [defaultSectorType]="defaultSectorType" [locationsList]="locationsList"
        [currentProjectSectors]="currentProjectSectors" [currentProjectLocations]="currentProjectLocations"
        [aimsProjects]="aimsProjects" [iatiProjects]="iatiProjects" [subLocationsList]="subLocationsList"
        (proceedToNext)="showMarkers()"
        (projectSectorsChanged)="updateProjectSectors($event)"
        (projectLocationsChanged)="updateProjectLocations($event)"
        >
      </project-sectors>
    </div>

    <div *ngIf="!isProjectLoading && currentTab == tabConstants.MARKERS" class="col-lg-12 col-md-12">
      <project-markers [currentProjectMarkers]="currentProjectMarkers" [markersList]="markersList"
        [projectId]="activeProjectId"
        (projectMarkersChanged)="updateProjectMarkers($event)"
        (proceedToNext)="showFinish()"
      >
      </project-markers
      >
    </div>

    <div *ngIf="!isProjectLoading && currentTab == tabConstants.FINISH" class="col-lg-12 col-md-12">
      <project-finish [viewProject]="projectData" [viewProjectFunders]="currentProjectFunders"
        [viewProjectImplementers]="currentProjectImplementers" [viewProjectDocuments]="currentProjectDocuments"
        [viewProjectDisbursements]="currentProjectDisbursements" [viewProjectMarkers]="currentProjectMarkers"
        [viewProjectSectors]="currentProjectSectors" [viewProjectLocations]="currentProjectLocations"
        [projectId]="activeProjectId" [returnTo]="returnTo">
      </project-finish>
    </div>

  </block-ui>
</div>

<error-modal message="{{errorMessage}}">
</error-modal>