<div class="container-fluid view-area">

  <div class="row text-center">
    <div *ngIf="showMessage" class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Information!</strong> {{infoMessage}}
    </div>
  </div>


  <div class="row aims-stat-row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-12 aims-stat-col">
      <div class="aims-stat-card">
        <div class="aims-stat-icon">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="aims-stat-content">
          <div class="aims-stat-label">Registered users</div>
          <div class="aims-stat-value">{{usersCount}}</div>
          <div class="aims-stat-sub">User accounts</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12 aims-stat-col">
      <div class="aims-stat-card">
        <div class="aims-stat-icon">
          <fa-icon [icon]="faTasks"></fa-icon>
        </div>
        <div class="aims-stat-content">
          <div class="aims-stat-label">Active projects</div>
          <div class="aims-stat-value">{{projectsCount}}</div>
          <div class="aims-stat-sub">AIMS projects</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12 aims-stat-col">
      <div class="aims-stat-card">
        <div class="aims-stat-icon">
          <fa-icon [icon]="faBuilding"></fa-icon>
        </div>
        <div class="aims-stat-content">
          <div class="aims-stat-label">Organizations</div>
          <div class="aims-stat-value">{{organizationsCount}}</div>
          <div class="aims-stat-sub">Registered partners</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12 aims-stat-col">
      <div class="aims-stat-card aims-stat-card-accent">
        <div class="aims-stat-icon">
          <fa-icon [icon]="faMoneyCheck"></fa-icon>
        </div>
        <div class="aims-stat-content">
          <div class="aims-stat-label">{{currentFinancialYear}} disbursements</div>
          <div class="aims-stat-value aims-stat-value-money">{{formatNumberWithCommas(currentYearDisbursements)}}</div>
          <div class="aims-stat-sub">{{defaultCurrency}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row aims-content-row">
    <div class="col-lg-8 col-md-12 col-sm-12 aims-content-col">

      <div class="aims-panel">
        <div class="aims-panel-header">
          <h6 class="aims-panel-title">{{model.introductionHeading}}</h6>
        </div>
        <div class="aims-panel-body">
          <div class="aims-loading" *ngIf="isIntroLoading">
            <img src="assets/images/loader-md.gif" alt="" /><span>Loading introduction...</span>
          </div>
          <div *ngIf="!isIntroLoading" [innerHTML]="model.introductionText" class="aims-intro-text">
          </div>
        </div>
      </div>

      <div class="aims-panel">
        <div class="aims-panel-header">
          <h6 class="aims-panel-title">Recently updated projects</h6>
        </div>
        <div class="aims-panel-body aims-panel-body-flush">
          <div class="aims-loading" *ngIf="isProjectsLoading">
            <img src="assets/images/loader-md.gif" alt="" /><span>Loading projects...</span>
          </div>
          <div class="aims-table-wrap" *ngIf="latestProjects.length > 0">
            <table class="aims-table">
              <thead>
                <tr>
                  <th>Project</th>
                  <th class="text-right">Project value ({{defaultCurrencyCode}})</th>
                  <th class="text-center">Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of latestProjects">
                  <td class="aims-table-title">{{project.title}}</td>
                  <td class="text-right aims-table-amount">{{project.projectCurrency}}
                    {{formatNumberWithCommas(project.projectCost)}}
                  </td>
                  <td class="text-center">
                    <button class="aims-btn aims-btn-outline" (click)="viewProjectDetail(project.id)">View detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="aims-empty" *ngIf="latestProjects.length == 0 && !isProjectsLoading">
            No projects to show
          </div>
        </div>
      </div>

      <div class="aims-panel">
        <div class="aims-panel-header">
          <h6 class="aims-panel-title">Sponsors</h6>
        </div>
        <div class="aims-panel-body">
          <div class="aims-loading" *ngIf="isSponsorsLoading">
            <img src="assets/images/loader-md.gif" alt="" /><span>Loading sponsors...</span>
          </div>
          <ng-container *ngIf="sponsors.length > 0">
            <div class="aims-sponsor-grid">
              <div class="aims-sponsor-item" *ngFor="let sponsor of sponsors">
                <img title="{{sponsor.title}}" alt="{{sponsor.title}}" src="{{sponsor.logoPath}}" />
              </div>
            </div>
          </ng-container>
          <div class="aims-empty" *ngIf="sponsors.length == 0 && !isSponsorsLoading">
            No sponsors to show
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 aims-content-col">

      <div class="aims-panel">
        <div class="aims-panel-header">
          <h6 class="aims-panel-title">Learn about AIMS</h6>
        </div>
        <div class="aims-panel-body">
          <div class="aims-video-wrap">
            <iframe [src]="videoOneUrl" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="aims-video-wrap aims-video-wrap-spaced">
            <iframe [src]="videoTwoUrl" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="aims-panel">
        <div class="aims-panel-header">
          <h6 class="aims-panel-title">Important links</h6>
        </div>
        <div class="aims-panel-body aims-panel-body-flush">
          <div class="aims-loading" *ngIf="isLinkLoading">
            <img src="assets/images/loader-md.gif" alt="" /><span>Loading links...</span>
          </div>
          <ul class="aims-link-list" *ngIf="links.length > 0">
            <li *ngFor="let link of links">
              <a href="{{link.url}}" target="_blank">
                {{link.title}}
              </a>
            </li>
          </ul>
          <div class="aims-empty" *ngIf="links.length == 0 && !isLinkLoading">
            No links to show
          </div>
        </div>
      </div>

      <div *ngIf="permissions.canManage" class="aims-panel">
        <div class="aims-panel-header">
          <h6 class="aims-panel-title">Administration</h6>
        </div>
        <div class="aims-panel-body">
          <button class="aims-btn aims-btn-primary" (click)="openHangfireDashboard()">
            Hangfire Dashboard
          </button>
        </div>
      </div>

    </div>

  </div>